@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}


@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(22.389% 0.031 278.072);
    --color-primary: #0f62fe;
    --color-primary-content: oklch(100% 0 0);
    --color-neutral: oklch(55% 0.046 257.417);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(60% 0.118 184.704);
    --color-accent-content: oklch(100% 0 0);
    --color-secondary: #161616;
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

/*
@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #ffffff;
    --color-base-200: #f4f4f4;
    --color-base-300: #e8e8e8;
    --color-base-content: oklch(22.389% 0.031 278.072);
    --color-primary: #0f62fe;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(22.389% 0.031 278.072);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #78a9ff;
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: #0043ce;
    --color-neutral-content: oklch(100% 0 0);
    --color-info: #0043ce;
    --color-info-content: oklch(100% 0 0);
    --color-success: #24a148;
    --color-success-content: oklch(100% 0 0);
    --color-warning: #f1c21b;
    --color-warning-content: oklch(0% 0 0);
    --color-error: #da1e28;
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
*/

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}

.jm-navbar-menu {
    @apply menu menu-horizontal bg-secondary py-0
}

.jm-navbar-menu  li a {
    @apply hover:bg-secondary-content/20 bg-secondary
}

.jm-navbar-menu  ul {
    @apply bg-secondary
}

/**
* Custom styles


.btn-cds-action {
    @apply !m-0 !justify-start !rounded-none !ps-4 !items-start !text-sm !font-normal !h-16 !pt-2 !w-full !text-start
}

.btn-close {
    @apply !rounded-none
}

input[type="text"]:focus, input[type="date"]:focus,input[type="email"]:focus, select:focus {
    outline: none!important;
    background-color: oklch(var(--color-base-200))!important
}

div.filter-item input:focus, div.filter-item select:focus
{
    border-color: oklch(var(--color-base-300));
    border-width: 1px;
    background-color: oklch(var(--color-base-300))!important;
}


input:invalid
{
    @apply !border-error;
}

.btn:active:not(.btn-active) {
    translate: none!important;
    --btn-bg: var(--btn-color, var(--color-base-200));
}

.header-over-table {
    height: calc(100svh - 250px);
}

.header-over-table thead {
    position: sticky;
    top: 0;
}

.btn-black {
    @apply bg-black text-base-100;
}

.menu {
    @apply font-semibold text-base-300;
}
.menu > li > a:hover {
    @apply bg-neutral-700 text-secondary-content;
}
.drawer-button:hover {
    @apply bg-neutral-700
}
.menu-disabled {
    @apply text-neutral-600
}

*/
